 .container{
  display: flex;
  flex-direction: row;
 /* this */
 }
 .First{
  padding: 10px;
  background: cyan;
  margin: 10px;
 }
 .Second{
  padding: 10px;
  background: cyan;
  margin: 10px;
  flex-direction: row;
 }
 .Third{
    padding: 10px;
  background: cyan;
  margin: 10px;
  flex-direction: row;
 }
 .S{
  display: flex;
  flex-wrap: wrap;

  padding: 10px 5px;
  justify-content: space-between;
 }
 .single{
  border:1px solid black;
  padding: 10px;
  background: rgba(238,238,238,1)
 }