/* General styles */

html {
  font-family: 'Helvetica neue', Arial, 'sans serif';
  font-size: 10px;
}

body {
  width: 80em;
  margin: 0 auto;
}

/* Typography */

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3.2em;
}

pli {
  font-size: 1.7em;
}

/*+++ more specific section styles +++*/

/* header and footer */

header, footer {
  background-color: teal;
  /* height: 10em; */
  padding: 1em;
}

h1, footer p {
  /* margin: -70px; */
}

h1 {
  text-align: center;
  /* padding: 0.5em 0; */
}

/* main content */

main {
  padding: 2em;
}

main p, main li {
  line-height: 2;
}

img {
  float: right;
  width: 150px;
  margin: 0 3em;
}

.img-container {
  float: left;
}