.wrapper {
    display: grid;
    margin: auto 200px;
    grid-template-columns:  auto auto auto auto auto auto auto auto auto auto auto auto ;
    grid-gap: 20px;
}

.col {
    background-color: pink;
}
.span {
    grid-row: span 5;
}
.span6 {
    grid-column: span 6;
    grid-row: span 5;
}

.span3 {
    grid-column: span 3;
    grid-row: span 5;
}

.span2 {
    grid-column: span 2;
    grid-row: span 5;
}